@*TODO add role-check*@

<ul class="list-unstyled components">
    <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Administration</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">User management</a>
                </li>
                <li>
                    <a href="#">Role management</a>
                </li>
            </ul>
    </li>
</ul>
