@*TODO add role-check*@

<ul class="list-unstyled components">
    <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Administration</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a asp-area="Administration" asp-controller="Users" asp-action="List">Users</a>
                </li>
                <li>
                    <a asp-area="Administration" asp-controller="Roles" asp-action="List">Roles</a>
                </li>
            </ul>
    </li>
</ul>
