<ul class="list-unstyled components">
    <li>
        <a href="#adminSubmenu" data-toggle="collapse" aria-expanded="false">Administration</a>
        <ul class="collapse list-unstyled" id="adminSubmenu">
            <li>
                <a asp-area="Administration" asp-controller="Users" asp-action="Index">Users</a>
            </li>
            <li>
                <a asp-area="Administration" asp-controller="Roles" asp-action="Index">Roles</a>
            </li>
        </ul>

        <a href="#entitiesSubmenu" data-toggle="collapse" aria-expanded="false">Grasshoppers entities</a>
        <ul class="collapse list-unstyled" id="entitiesSubmenu">
            <li>
                <a asp-area="Administration" asp-controller="Characters" asp-action="Index">Characters</a>
            </li>
            <li>
                <a asp-area="Administration" asp-controller="CharactersResults" asp-action="Index">Characters results</a>
            </li>
            <li>
                <a asp-area="Administration" asp-controller="GameSessions" asp-action="Index">Game sessions</a>
            </li>
            <li>
                <a asp-area="Administration" asp-controller="Inventories" asp-action="Index">Inventories</a>
            </li>
            <li>
                <a asp-area="Administration" asp-controller="Items" asp-action="Index">Items</a>
            </li>
            <li>
                <a asp-area="Administration" asp-controller="Maps" asp-action="Index">Maps</a>
            </li>
            <li>
                <a asp-area="Administration" asp-controller="Missions" asp-action="Index">Missions</a>
            </li>
        </ul>
    </li>
</ul>