<ul class="list-unstyled components">
    <li>
        <a href="#adminSubmenu" data-toggle="collapse" aria-expanded="false">Administration</a>
        <ul class="collapse list-unstyled" id="adminSubmenu">
            <li>
                <a asp-area="Administration" asp-controller="Users">Users</a>
            </li>
            <li>
                <a asp-area="Administration" asp-controller="Roles">Roles</a>
            </li>
        </ul>

        <a href="#entitiesSubmenu" data-toggle="collapse" aria-expanded="false">Grasshoppers entities</a>
        <ul class="collapse list-unstyled" id="entitiesSubmenu">
            <li>
                <a asp-area="Administration" asp-controller="Characters">Characters</a>
            </li>
            <li>
                <a asp-area="Administration" asp-controller="CharactersResults">Characters results</a>
            </li>
            <li>
                <a asp-area="Administration" asp-controller="GameSessions">Game sessions</a>
            </li>
            <li>
                <a asp-area="Administration" asp-controller="Inventories">Inventories</a>
            </li>
            <li>
                <a asp-area="Administration" asp-controller="Items">Items</a>
            </li>
            <li>
                <a asp-area="Administration" asp-controller="Maps">Maps</a>
            </li>
            <li>
                <a asp-area="Administration" asp-controller="Missions">Missions</a>
            </li>
        </ul>
    </li>
</ul>