<nav class="navbar navbar-expand-lg" style="background-color: lightsteelblue">
    
    <div class="container-fluid justify-content-start">
        
        <div class="navbar-brand">Actions</div>
        
        <div class="navbar-btn btn btn-success mr-3">Create</div>
        
        <div class="navbar-btn btn btn-primary mr-3">Edit</div>
        
        <div class="navbar-btn btn btn-danger mr-3">Delete</div>

    </div>

</nav>