<nav class="navbar navbar-expand-lg" style="background-color: lightsteelblue">
    
    <div class="container-fluid justify-content-start">
        
        <div class="navbar-brand">Actions:</div>
        
        <button id="createButton" class="navbar-btn btn btn-success mr-3">Create</button>
        
        <button id="editButton" class="navbar-btn btn btn-primary mr-3">Edit</button>
        
        <button id="deleteButton" class="navbar-btn btn btn-danger mr-3">Delete</button>

    </div>

</nav>