<div class="navbar-nav ">
@if (User.Identity.IsAuthenticated)
{
    <form asp-area="Identity" asp-controller="Account" asp-action="LogOut" method="post">
        
        <button type="submit" class="btn navbar-btn">Log out</button>

    </form>
}
else
{
    <a class="nav-item nav-link text-light" asp-area="Identity" asp-controller="Account" asp-action="SignIn">Sign in</a>
    <a class="nav-item nav-link text-light" asp-area="Identity" asp-controller="Account" asp-action="SignUp">Sign up</a>
        
}
</div>