@if (User.Identity.IsAuthenticated)
{
    <nav id="sidebar">
        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>

        <div class="sidebar-header">
            <p class="h5">What do you want to do?</p>
        </div>

        @if (User.IsInRole("admin"))
        {
            await Html.RenderPartialAsync("_AdminSidebarPartial");
        }
        
        @await Html.PartialAsync("_UserSidebarPartial")

    </nav>
}