<ul class="list-unstyled components">
    <li>
        <a href="#">My characters</a>
    </li>
    <li>
        <a href="#queriesSubmenu" data-toggle="collapse" aria-expanded="false">Queries</a>
        <ul class="collapse list-unstyled" id="queriesSubmenu">
            <li>
                <a href="#">My stats</a>
            </li>
            
            <li>
                <a href="#">Character's inventory...</a>
            </li>
            <li>
                <a href="#">The most played mission</a>
            </li>
            <li>
                <a href="#">The best character of the game session...</a>
            </li>
            <li>
                <a href="#">List of characters that have got the item...</a>
            </li>
            <li>
                <a href="#">Bounty hunter character</a>
            </li>
            <li>
                <a href="#">The fastest winner team</a>
            </li>
            <li>
                <a href="#">The best flag invader</a>
            </li>
        </ul>
    </li>
</ul>
