@model Map

@{
    ViewBag.Title = "Create a new map";
    Layout = "_Layout";
}

<h2>Create a new map</h2>

<hr/>

<div asp-validation-summary="All"></div>

<form asp-action="Create" method="post">
   
    <div class="form-group col-md-6">
        
        <label asp-for="MapInfo"></label>
        <input type="text" asp-for="MapInfo" class="form-control" placeholder="Enter map's info" required/>
        <span asp-validation-for="MapInfo"></span>

    </div>
        
    <button type="submit" class="btn btn-success">Create</button>
</form>
