@model Map

@{
    ViewBag.Title = string.Format($"Map №{Model.Id} details");
}


<div class="jumbotron" style="background-color: aliceblue">
    <h2>About map №<strong>@Model.Id</strong></h2>
    
    <hr/>
    <dl class="dl-horizontal">
        <dt>Information</dt>
        <dd>@Model.MapInfo</dd>

        <dt>Related missions</dt>
        @foreach (var mission in ViewBag.Missions)
        {
            <dd>@mission.Name</dd>
        }

    </dl>
</div>