@model SignUpModel

@{
    ViewData["Title"] = "Sign up";
    Layout = "_Layout";
}

<div class="row pt-4 px-5">
    <div class="col-md-12">
        <div class="jumbotron" style="background-color: aliceblue">
            <h1>Join Grasshoppers</h1>
            <p>Create a new account</p>
        </div>
        </div>
</div>

<div class="row pb-4 px-5">
    <div class="col-md-5">
        <div class="jumbotron py-4 px-4" style="background-color: aliceblue">
            @{ await Html.RenderPartialAsync("_SignUpPartial");}
        </div>
    </div>
    <div class="col-md-7">
        <div class="jumbotron py-4 px-4" style="background-color: aliceblue">
            <div asp-validation-summary="ModelOnly"></div>
        </div>
        
    </div>
</div>