@model Item

@{
    ViewBag.Title = Model.Name;
}


<div class="jumbotron" style="background-color: aliceblue">
    <h2>About <strong>@Model.Name</strong></h2>
    
    <hr/>
    <dl class="dl-horizontal">
        <dt>Description</dt>
        <dd>@Model.Description</dd>

        <dt>Rarity</dt>
        <dd>@Model.Rarity</dd>

        <dt>Owners</dt>
        @foreach (var character in ViewBag.Owners)
        {
            <dd>@character.Name</dd>
        }

    </dl>
</div>