@model IEnumerable<Player>
@{
    ViewData["Title"] = "List of players";
}


<h3>Players</h3>
<table class = "table-condensed">
    <tr>
        <td>Name</td>
        <td>SpritePath</td>
        <td></td>
    </tr>
    @foreach (var curPlayer in Model)
    {
        <tr>
            <td>@curPlayer.Name</td>
            <td>@curPlayer.SpritePath</td>
            <td>
                <a href="~/Home/Players/@curPlayer.Id">View</a>
            </td>
        </tr>
    }
</table>