@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    
}
else
{
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <h1>Try it</h1>
                </div>
                <div class="col-xs-12 col-md-4">
                    @{await Html.RenderPartialAsync("_SignUpPartial");}
                </div>
            </div>
        </div>
    </div>
}
