@{
    ViewData["Title"] = "Home Page";
}
@if (User.Identity.IsAuthenticated)
    {
    }
    else
    {
        <div class="jumbotron bg-transparent py-6">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white mb-3">Try it</h1>
                </div>
                <div class="col-md-5">
                    @{await Html.RenderPartialAsync("_SignUpPartial");}
                </div>
            </div>
        </div>
    }