@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{

    <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-align-left"></i>
        <span>Toggle Sidebar</span>
        </button>
          
}
else
{
    <div class="row pt-4 px-5">
        <div class="col-md-7 py-4 px-4">
            <h1>Try it today</h1>
            <p class="lead">A brand-new online game Grasshoppers. Hope you enjoy!</p>
        </div>

        <div class="col-md-5 py-4 px-4">
            <div class="jumbotron py-4 px-4">
                @await Html.PartialAsync("_SignUpPartial")
            </div>
        </div>
    </div>
}
    